.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #552cb7;
    padding: 10px 20px; 
  }
  
  .logocontainer {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 50px; 
    margin-right: 10px; 
  }
  
  .menu {
    display: flex;
    font-family: Cotane;
    -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.8px black;
  }
  
  .menu ul {
    list-style: none;
    display: flex;
    font-family: Cotane;
    -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.8px black;
  }
  
  .menu li {
    margin-right: 20px;
    font-family: Cotane;
    -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.8px black;
  }
  
  .menu a {
    text-decoration: none;
    color: white;
    position: relative;
    font-family: Cotane;
    -webkit-text-fill-color: white;
  -webkit-text-stroke: 0.8px black;
  }
  
  .menu a:hover {
    color: rgb(21, 255, 0); 
    transition: color 0.3s ease;
  }
  