.footer {
  background: transparent;
  color: whitesmoke;
  padding: 30px;
  justify-content: space-around;
  align-items: first baseline;
  flex-wrap: wrap;
  text-decoration: none;
  position: relative;
  bottom: 0;
  width: 100%;
  margin-top: 20px;
}

.footer div {
  margin-bottom: 20px;
  text-decoration: none;
}

.h3 {
  font-size: 1rem;
  letter-spacing: 1px;
  text-decoration: none;
  font-family: analogist;
  color: whitesmoke;
}

.redessociais {
  gap: 1rem;
  display: flex;
  color: whitesmoke;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  margin-bottom: 0;
}