.Card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../../public/bck.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.divInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 80%;
}
.divInputs input {
    outline: none;
    background-color: rgba(255, 255, 255, 0.201);
    font-family: analogist;
    font-size: 1.5rem;
    border-radius: 1rem;
    cursor: pointer;
    padding: 1rem;
    margin-top: 1rem;
    width: 100%;
    border: none;
}
.divInputs input::placeholder {
    color: white;
    font-family: analogist;
    font-size: 1.5rem;
    letter-spacing: 2px;
}
.divInputs button {
    border: 2px solid #cea2e4;
    outline: none;
    background-color: rgba(255, 255, 255, 0.201);
    color: white;
    font-family: analogist;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 100%;
}

.divTitulo{
    font-family: Crima;
    color: whitesmoke;
    font-size: 5rem;
    margin-top: 2reem;
}
@media screen and (max-width: 450px) {
    .divInputs{
        width: 80%;
        margin-top: 2rem;
    }
    .divTitulo{
        font-size: 3rem;
    }
}