.bckg {
    background-image: url(../../public/bck.png);
    height: 100%;
    width: 100%;
    background-size: cover;
}

.footerfixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container {
    margin-top: 10px;
    margin-bottom: 1.5rem;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: Crima;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    font-size: 10vh;
    margin-top: 7vh;
    text-align: center;
}

.text {
    font-family: analogist;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    font-size: 5vh;
}

.btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.187);
    font-family: Crima;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    font-size: 4vh;
    border: none;
}

.btn:hover {
    transform: scale(1.03);
    transition-duration: 1s;
  }

@media screen and (max-width: 600px) {
    .title {
        font-size: 2em;
    }

    .text{
        font-size: 1.5vh;
    }

    .form__title {
        font-size: 1.5em;
    }

    .form__container{
        width: 85%;
    }

    .form__container input {
        font-size: 1em;
    }

    .btn {
        font-size: 1em;
    }

    .text{
        padding: 2vh;
        text-align: center;
        font-size: 3.5vh;
    }
}