
@font-face {
    font-family: Acid;
    src: url(../public/Royalacid_o.ttf);
  }
  
  @font-face {
    font-family: Mainstay;
    src: url(../public/Mainstay.ttf);
  }
  
  @font-face {
    font-family: Cotane;
    src: url(../public/CotaneBeach.otf);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }
  :root{
    --Bkg-: #0B2123;
  }
  ::-webkit-scrollbar{
    width: 10px;
    background-color: #222222b0 ;
  }
  ::-webkit-scrollbar-thumb{
    background-color: #AB966F;
    border-radius: 10px;
  }