@font-face {
  font-family: analogist;
  src: url(../public/Analogist.ttf);
}

  @font-face {
    font-family: Abril;
    src: url(../public/AbrilFatface-Regular.ttf);
  }

  @font-face {
    font-family: Crima;
    src: url(../public/Crima.ttf);
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
  }
  :root{
    --Bkg-: #0B2123;
  }
  ::-webkit-scrollbar{
    width: 10px;
    background-color: whitesmoke ;
  }
  ::-webkit-scrollbar-thumb{
    background: linear-gradient(#058cd7, #fb7da8, #ffc567);
    border-radius: 10px;
  }


  hr{
    background: red
  }
