.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.bck {
  background-image: url(../public/bck.png);
  width: 100%;
  height: 100%;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 5vh;
}

.title {
  font-family: Crima;
  letter-spacing: 2px;
  color: whitesmoke;
  text-align: center;
  font-size: 15vh;
  margin-top: 4vh;
  margin-top: 5vh;
}

.hold{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.sub_container {
  background-color: rgba(245, 245, 245, 0.108);
  margin-bottom: 8vh;
  width: 70%;
  text-align: center;
  align-items: center;
  border-radius: 1rem;
}

.sub_container:hover {
  transform: scale(1.03);
  transition-duration: 1s;
}

.subtitle {
  font-family: Crima;
  letter-spacing: 4px;
  color: whitesmoke;
  text-align: center;
  font-size: 5vh;
  margin-top: 7px;
}

.txt {
  font-family: analogist;
  color: whitesmoke;
  margin-top: 3vh;
  margin-bottom: 4vh;
  font-size: 4vh;
  letter-spacing: 1px;
  padding: 2vh;
}

.containertitle {
  margin-bottom: 5vh;
}