.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.bck{
  background-color: #FFF6DD;
}

.container{
  display: flex;
  flex-direction: row;
  gap: 8vh;
}

.div1{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 16vh;
  margin-top: 10vh;
}

.respondidos{
  font-family: Acid;
  font-size: 15vh;
}

.div2{
  width: 50%;
}

.playbutton{
  color:  white;
  background-color: #fd5a46;
  border-radius: 7px;
  text-align: center;
  width: 40%;
}

@font-face {
  font-family: Acid;
  src: url(../public/Royalacid_o.ttf);
}