.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.bck{
  background-image: url(../public/bck.png);
}

.container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  margin-top: 5vh;
}

.title{
  font-family: Crima;
  letter-spacing: 2px;
  color: whitesmoke;
  text-align: center;
  font-size: 15vh;
  margin-top: 10vh;
}

.subconatiner{
  width: 100%;
  height: 100%;
  margin-bottom: 5vh;
  margin-top: 5vh;

}

.subtitle{
  font-family: Crima;
  letter-spacing: 2px;
  color: whitesmoke;
  text-align: center;
  font-size: 8vh;
}

.txt{
  font-family: analogist;
  color: whitesmoke;
}

.containertitle{
  margin-bottom: 5vh;
}
