
.form__title{
    font-family: Cotane;
    font-size: 2em;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 0.8px black;
}
.form__container{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
}

.form__container input{
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #f2f2f2;
    color: black;
    font-family: Cotane;
    font-size: 1.5em;
    -webkit-text-fill-color: black;
    -webkit-text-stroke: 0.8px black;
}
@media screen and (max-width: 600px) {
    .form__title{
        font-size: 1.5em;
    }
    .form__container input{
        font-size: 1em;
    }
}