.all{
    background-image: url(../../public/bck.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-bottom: 3rem;
}
.question{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 60%;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.201);
    border-radius: 40px;
    margin-top: 25px;
    color: white;
    margin-bottom: 30px;
}
.question button{
    border: 2px solid #cea2e4;
    outline: none;
    background-color: rgba(255, 255, 255, 0.201);
    color: white;
    font-family: analogist;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem;
    width: 100%;
}

.question h1{
    font-family: analogist;
    letter-spacing: 2px;
}

.question h2{
    font-family: analogist;
}

.question h3{
    font-family: analogist;
}

.buttonAdd{
    border: 2px solid #cea2e4;
    outline: none;
    background-color: rgba(255, 255, 255, 0.201);
    color: white;
    font-family: analogist;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 1rem;
}

.points{
    font-family: analogist;
    color: whitesmoke;
    font-size: 25px;
}

@media screen and (max-width: 450px){
    .question{
        width: 90%;
        font-size: 15px;
    }
    .all{
        height: 100%;
    }
}
