.bckg {
    background-image: url(../../../public/bck.png);
    height: 100%;
    width: 100%;
    background-size: cover;
}
.footerfixed {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.form {
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: transparent;
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.form__title {
    font-family: Crima;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    font-size: 4vh;
}

.form__container {
    margin-top: 2.5rem;
    background-color: rgba(240, 248, 255, 0.187);
    width: 70%;
    height: 10%;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    font-family: analogist;
    letter-spacing: 1px;
    color: whitesmoke;
    
}

.form__container::placeholder {
    color: whitesmoke;
    opacity: 1;
}

.form__container::-ms-input-placeholder {
    color: whitesmoke;
}

.form__container input {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.187);
    color: black;
    font-family: analogist;
    font-size: 1.5em;
}

.form__container input {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    margin-top: 2.5rem;
    background-color: rgba(240, 248, 255, 0.187);
    width: 80%;
    height: 10%;
    border-radius: 6px;
    border: none;
    font-size: 20px;
    font-family: analogist;
    letter-spacing: 1px;
    padding-left: 20px;
    color: whitesmoke;
}

.btn {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(240, 248, 255, 0.187);
    font-family: Crima;
    letter-spacing: 2px;
    color: whitesmoke;
    text-align: center;
    font-size: 4vh;
    border: none;
}

.btn:hover {
    transform: scale(1.03);
    transition-duration: 1s;
  }

@media screen and (max-width: 600px) {
    .form__title{
        font-size: 1.5em;
    }
    .form__container input{
        font-size: 1em;
    }
}