@keyframes dancing {
  0% {
    transform: rotateY(0deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

.loading_image {
  justify-content: center;
  align-items: center;
  margin: 0 auto auto auto;
  display: flex;
}

.dancing_image {
  animation: dancing 2s linear infinite;
  width: 30vw;
}

.loading_text {
  font-size: 2em;
  font-family: Crima;
  -webkit-text-fill-color: white;
  letter-spacing: 0.1em;

}

@media screen and (max-width: 768px) {
  .loading_image {
    justify-content: center;
    align-items: center;
    margin: 0 auto auto auto;
    display: flex;
  }

  .dancing_image {
    animation: dancing 2s linear infinite;
    width: 30vw;
  }

  .loading_text {
    font-size: 2em;
    font-family: Crima;
    -webkit-text-fill-color: white;
    letter-spacing: 0.1em;

  }
}