.boxCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;
}

.titulo {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Cotane;
    -webkit-text-fill-color: #058cd7;
    -webkit-text-stroke: 1px black ;
    font-size: 50px;
    margin-right: 45rem;
}

.divInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 45rem;
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: #058cd7;
    border-radius: 10px;
}

.input1 {
    padding: 1rem;
    margin-top: 1rem;
}

.input2 {
    padding: 1rem;
}

.input3 {
    padding: 1rem;
}

.input4 {
    padding: 1rem;
}

.input5 {
    padding: 1rem;
}

.imagem {
    display: flex;
    margin-left: 20rem;
    margin-top: -20rem;
    margin-bottom: -20rem;

}

.divBotao {
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 10vh;
}

.texto {
    align-items: center;
    padding-left: 20rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-family: Cotane;
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px black;
    font-size: 25px;

}