.boxCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 6rem;

}

.titulo {
    justify-content: center;
    align-items: center;
    display: flex;
    font-family: Cotane;
    font-size: 50px;
    margin-right: 45rem;
}

.divInput {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 45rem;
    width: 20rem;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    background-color: #552cb7;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.782);
}

.input1 {
    padding: 1rem;
    margin-top: 1rem;


}

.input2 {
    padding: 1rem;


}

.input3 {
    padding: 1rem;


}

.input4 {
    padding: 1rem;


}

.input5 {
    padding: 1rem;


}

.imagem {
    display: flex;
    margin-left: 20rem;
    margin-top: -20rem;
    margin-bottom: -20rem;

}

.divBotao{
    display: flex;
    flex-direction: column;
    width: 10vw;
    height: 10vh;
}

.texto {
    align-items: center;
    padding-left: 20rem;
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-family:  Mainstay;
    font-size: 20px;
    
}